# Source files
client/src/**
server/src/**
*.ts
!out/**/*.d.ts

# Config files
tsconfig.json
client/tsconfig.json
server/tsconfig.json
rollup.config.js

# Development
.vscode/**
.vscode-test/**
.gitignore
.eslintrc.json
**/*.map

# Dependencies
node_modules/**
client/node_modules/**
server/node_modules/**

# Test files
test/**

# Cache
server/cache/**

# Build files
**/.DS_Store

*.vsix

asstes